* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #dfdfdf;

    .logs {
        width: 800px;
        background: #EAE2B7;
        margin: 50px auto;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, .2);
        padding: 20px;

        .item {
            display: flex;
            width: 100%;
            margin: 16px 0px;
            background: #FCBF49;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, .2);
            padding: 6px;
            padding-right: 90px;
            .date {
                display: flex;
                width: 90px;
                border-radius: 10px;
                flex-direction: column;
                font-weight: bold;
                text-align: center;
                background: #dfdfdf;
                overflow: hidden;
                .month {
                    height: 25px;
                    line-height: 25px;
                    background: #D62828;
                    color: #fff;
                    font-size: 13px;
                }

                .day {
                    height: 45px;
                    line-height: 45px;
                    font-size: 35px;
                    background: #fff;
                }
            }
            .content{
                flex: auto;
                display: flex;
                flex-direction: column;
                text-align: center;
                padding: 10px ;
                .desc{
                    font-size: 16px;
                }
                .time{
                    margin-top: 10px; 
                    color: #D62828 ;
                }
            }
        }
    }
}