*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    min-width: 1200px;
    width: 100%;
    height: 100vh;
    background: linear-gradient(#fbc2eb,#a6c1ee);
    font-family: 'fangsong';
}
a {
    text-decoration: none;
}

li {
    list-style: none;
}

.header {
    width: 100%;
    height: 60px;
    background-color: rgba(30, 50, 120, 0.1);
    display: flex;
    justify-content: space-around;
    line-height: 60px;
}

.logo {
    color: #0000EE;
    font-size: 18px;
    font-weight: 800;
    font-family: 'fangsong';

}

.navbar {
    position: relative;
    width: 400px;
    height: 60px;
    line-height: 60px;
    text-align: center;
}

.navbar ul {
    height: 80px;
}

.navbar ul li {
    position: relative;
    float: left;
    width: 80px;
    height: 60px;
    font-family: 'fangsong';
    border-right: 1px;
}

.navbar>ul>li>a {
    font-size: 18px;
}

.navbar ul li:hover {
    background-color: orange;
}

/* 二级标签 */
.son {
    z-index: 2;
    position: absolute;
    left: 0;
    top: 60px;
}

.son li {
    display: none;
    border-bottom: 1px solid #ccc;
    background-color: #f0f4f9;
}

.son li:last-child {
    border-bottom: 0;
}

.son li>a {
    font-size: 15px;
}

.navbar ul li:hover .son li {
    display: block;
}

/* nav区域 */
.nav {
    position: relative;
    width: 100%;
    height: 80px;
    line-height: 90px;
    font-size: 16px;
    font-family: 'fangsong';
    z-index: 1;
    clear: both;
}

.nav-img {
    position: absolute;
    top: 8px;
    left: 210px;
    width: 50px;
    height: 100px;
    margin-left: 200px;
}

.nav-img img {
    width: 40px;
    height: 40px;
}

.content-nav ul {
    position: absolute;
    top: 0;
    left: 450px;
    margin-left: 70px;
}

.content-nav ul li {
    padding-left: 50px;
    float: left;
}

.content-nav ul li a {
    color: #fff;
}

.content-nav ul li a:hover {
    color: orange;
}

.search {
    position: absolute;
    top: -3px;
    right: 440px;
}

.search input {
    position: absolute;
    left: -190px;
    top: 27px;
    width: 190px;
    height: 40px;
    border: 1px solid #ccc;
}

.search input::placeholder {
    padding-left: 30px;
    font-family: 'fangsong';
    font-weight: 700;

}

.content{
    width: 100vw;
    margin: 30px auto;
    text-align: center;
}
.content span{
    display: none;
    margin-left: 500px;
}
.content h1{
    padding:30px 0px  ;
}
.content textarea{
    position: relative;
    top: 0;
    left: 80px;
    width: 300px;
    height: 200px;
    transition: all 3s;
}
.content textarea:hover{
    height: 300px;
}
.content button{
    position: relative;
    top: -100px;
    left: 100px;
    width: 90px;
    height: 80px;
    border-radius: 5%;
    border: 1px solid #ccc;
}
.text{
    display: none;
    margin-left: 600px;
    width: 500px;
    height: 200px;
    padding: 10px 20px;
    border: 1px solid black;
    text-align: left;
}
.text h4,p,h5{
    display: block;
    margin-top: 30px;
    word-wrap:break-word; 
}
